<a href="/">Home</a>

{{!-- <title>User Profile</title>

<h1>User Profile</h1> --}}

<h1>API TEST</h1>

<form action="/profile" method="POST">
  <div class="form-group">
    <label >Date</label>
    <input class="form-control" type="date" name="date">
  </div>

  <button type="submit" class="btn btn-warning btn-lg">Submit</button>
</form>
