<h1>Search for NASA APOD</h1>

<form action="/apod/search" method="post">
  <div class="form-group">
    <label for="apodDate">Please enter a start date</label>
    <input type="date" id="startDate" name="date[start]">
    <label for="apodDate">Please enter a end date</label>
    <input type="date" id="endDate" name="date[end]">
  </div>
  <button class="searchButton" type="button" data='test' name="button">Go!</button>
</form>

<ul class="apod-list">

</ul>
